#title
{
	text-align: center;
	color: #FFAA11;
}

.square
{
	width: 50px;
	height: 50px;
	margin: 4px;
	float: left;
	color: #FFFFFF;
	background-color: #FFFF11;
	font-family:Verdana, Geneva, sans-serif;
	text-align: center;
	vertical-align: 50%;
	border-radius: 20px;
}

.dead
{
	width: 50px;
	height: 50px;
	margin: 4px;
	float: left;
	color: #FFFFFF;
	font-family:Verdana, Geneva, sans-serif;
	text-align: center;
	vertical-align: 50%;
	border-radius: 20px;
}

.column
{
	position: relative;
}

.col_content
{
	position: absolute;
	bottom: 0;
}

.row
{
	line-height: 50px;
}

#message {
	font-family: Courier;
	color: #FF3333;
	text-align: center;
}

button {
	color: blue;
}

#buttons {
	margin-left: 55px;
	width: 380px;
	text-align: center;
}

input[type=button] {
  background-color: #CC88FF;
  border: 1px solid #CC88FF;
  border-radius: 5px;
  color: #fff;
  font: bold 11px/1 Tahoma, Geneva, sans-serif;
  padding: 5px 0 5px 0;
  position:relative;
  top:-4px;
  text-align: center;
  width: 115px;
}

input[type=text]
{
	border-radius: 5px;
	height: 20px;
	width: 25px;
}

input[type=submit]
{
	font-size: 18px;
	margin-left: 20px;
}

#suit
{
	box-shadow: 0px 0px 10px #FFAA11;
}

#frame {
	width: 1000px;
	min-height: 1000px;
	margin: 0px auto;
	clear: both;
	padding-bottom: 100px;
}

#board {
	width: 500px;
	margin-left: 25px;
	margin-right: 25px;
	float: left;
}

#stats {
	width: 400px;
	float: left;
}

#endform {
	clear: both;
	background-color: #FFFF11;
	padding: 5px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #FFFF11;
}

#end_results
{
	text-align: center;
}

#duck_number
{
	width: 70%;
	height: 42px;
	float: left;
	padding-right: 0px;
}

#ducks_left
{
	height: 42px;
	color: #99FF11;
	font-weight: bold;
	font-size: 35px;
	text-align: left;
	margin-left: 20px;
}

#posting
{
	clear: both;
	text-align: center;
	color: #FFAA11;
}

#post_reel
{
	clear: both;
	background-color: #FFAA11;
	border-radius: 10px;
	margin-left: 25%;
	margin-right: 25%;
	color: white;
}

form
{
	text-align: center;
	font-size: 16px;
}

label
{
	padding-left: 5px;
}
