body
{
	margin: 0;
	font-family: Courier, "Courier New", monospace;
	background-color: #EEEFFF;
}

#menu
{
	text-transform: uppercase;
	text-align: center;
	font-size: 50px;
	border-bottom: 1px solid #FFFF11;
	color: #FFFF11;
	background-color: #66FF00;
	width: 100%;
	height: 50px;
	line-height: 140%;
	opacity: 0.8;
}

h3
{
	font-size: 17px;
}

.menu_text
{
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
	font-weight: bold;
	color: #EEEFFF;
}

.drop_menu
{
	text-align: center;
}